#wrap {
    width: 960px;
    margin: 0 auto;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
    font-size: 15px;
    line-height: 22px;
}

#total {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #666;
}

/* Entry */
.date {
    width: 100px;
}

.desc {
    width: 400px;
}

.amount {
    width: 150px;
}

.entry span {
    display: inline-block;
}

.entry .amount input, .entry .desc input {
    border: 1px solid #ececec;
    font-size: 18px;
    line-height: 20px;
    font-family: 'Helvetica Neue', 'Helvetica', sans;
}
